/* 导航部分 */

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}
.nav {
    display: flex;
    justify-content: center;
    background-color: rgba(25, 25, 25, 0.6);
    
}
.nav>.clear {
    width: 852px;
    display: flex;
    justify-content: space-between; 
}
.clear a {
    display: block;
    padding: 12px 35px;
}
.clear>li {
    position: relative;
}
.clear>li>b {
    position: absolute;
    bottom: -4px;
    left: 2.7rem;
}
.clear>li:hover {
    background: orange;
}
.p>p:hover {
    background: rgba(25, 25, 25, 0.6);
}
.nav_child>.child:not(.c1) {
    background: rgba(230, 180, 89,0.6);
}
.nav_child .child {
    visibility: hidden;
    height: 0px;
    line-height: 44px;
    display: flex;
    justify-content: center;
}
.childH {
    height: 44px !important;
    visibility: visible !important;
    
}
/* .child.c1 {
    height: 44px;
    display: block;
} */
.child .p {
    display: flex;
    justify-content: flex-start;
}
.child .p>p {
    padding: 0px 1.5rem;
}