/* 导航部分 */

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}
.nav {
    display: flex;
    justify-content: center;
    background-color: rgba(25, 25, 25, 0.6);
    
}
.nav>.clear {
    width: 852px;
    display: flex;
    justify-content: space-between; 
}
.clear a {
    display: block;
    padding: 12px 35px;
}
.clear>li {
    position: relative;
}
.clear>li>b {
    display: none;
    bottom: -4px;
    left: 2.7rem;
}
.bAdd {
    display: inline !important;
    position: absolute !important;
}
.clear>li:hover {
    background: orange;
}
.p>p a:hover {
    color: red !important; 
}
.nav_child>.child:not(.c1) {
    background: rgba(230, 180, 89,0.6);
}
.nav_child .child {
    visibility: hidden;
    height: 0px;
    line-height: 44px;
    display: flex;
    justify-content: center;
}
.childH {
    height: 44px !important;
    visibility: visible !important; 
}

.child .p {
    display: flex;
    justify-content: flex-start;
}
.child .p>p {
    padding: 0px 1.5rem;
} 
.child>.p>p:not(:last-child) {
    background: url(../img/yz.png) no-repeat right center/20px 30px;
}