.nav {
    height: 80px;
    background-color: orange;
    display:flex;
    justify-content: space-between;
}
.nav .imgBox {
    width: 20%;
    background-color: red;
}
.nav .navItemsBox {
    width: 80%;
}
.nav .navItemsBox .navTop {
    height: 33px;
    background-color: blue;
}
.navHide {
    
    height:48px;
    background-color: yellow;
}
.navBottom>ul{
    width: 100%;
    display: flex;
}
.navBottom>ul li {
    width: 16.666%;
    text-align: center;
    line-height: 47px;
}
.navBottom>ul li:hover .navHide {
    display: block;
}
